.about{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 5px 5px 5px;
    min-height: 100vh;
    min-width: 100vw;
    padding: 100px 15px 10px 10px;

}