body {
  background-color: white;
  color: #333;
  margin: 0;
  padding: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #133f5a;
  margin-bottom: 1rem;
  text-align: center;
  transition: color 0.3s ease-in-out;
}

label {
  font-weight: bolder;
}

h3 {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #1F2937;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea,
input[type="file"] {
  width: 100%;
  margin-top: 8px;
  padding: 10px 14px;
  font-size: 16px;
  color: #4B5563;
  background-color: transparent;
  border: 2px solid #D1D5DB;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 5px rgba(65, 1, 1, 0.05);
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus {
  border-color: #133f5a;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.4);
}

input[type="text"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
textarea:hover {
  border-color: #133f5a;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

button {
  background-color: #133f5a;
  color: white;
  border: none;
  padding: 0.75rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 1rem 0;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: black;
}

.app {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  color: #333;
}

.input,
textarea {
  margin-bottom: 1.5rem;
}

.input label,
textarea label {
  font-size: 1rem;
  font-weight: bold;
}

.uploaded-image {
  max-width: 150px;
  margin-top: 10px;
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.btns button {
  width: 100%;
  max-width: 250px;
}

@media screen and (max-width: 768px) {
  .app {
    padding: 1rem;
    width: 100%;
    margin-top: 50px;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .input {
    margin-bottom: 1.2rem;
  }

  .input label {
    font-size: 0.9rem;
  }

  .uploaded-image {
    max-width: 120px;
  }

  button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
  }

  .btns button {
    width: 100%;
    max-width: 100%;
  }

  body {
    padding: 1.2rem;
    margin-top: 1.5rem;
  }
}

@media screen and (min-width: 769px) {
  .app {
    padding: 2rem;
    margin-top: 100px;
  }

  h2 {
    font-size: 2rem;
  }
}